.bg-mv {
    background: url('../../../assets/images/table.png') no-repeat;
    background-position: 0 -152px;
    width: 23px;
    height: 17px;
    line-height: 17px;
    display: inline-block;
    vertical-align: middle;
}