.hotcomment {
    position: relative;
   & .hotcomment-title{
        color: #000;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 2px solid #CCCCCC;
        margin-bottom: 10px;
    }
}








