.hotdj-icon {
    width: 11px;
    height: 13px;
    background-position: 0 1;
    background: url('../../../assets/images/icon.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}