//由于轮播图背景图没找到接口,限制用别的固定背景图
.indexBannner0 {
    background-image: url(http://p1.music.126.net/3IINy-7srSWbwAnuemL86A==/109951163926461245.jpg);
}
.indexBannner1 {
    background-image: url(http://p1.music.126.net/YB59qpU70vMKlW-CwAuq6A==/109951163930575921.jpg);
}
.indexBannner2 {
    background-image: url(http://p1.music.126.net/OLBRjOSPcjyDB3YK-L5OnQ==/109951163930571322.jpg);
}
.indexBannner3 {
    background-image: url(http://p1.music.126.net/tiP0S4_lmjgm1LO3fNl1fQ==/109951163930580494.jpg);
}
.indexBannner4 {
    background-image: url(http://p1.music.126.net/wYVw3FtqcGDyMOtgeoMIXA==/109951163931395517.jpg);
}
.indexBannner5 {
    background-image: url(http://p1.music.126.net/zRk-B2LNq0BPOTbX2zOB_Q==/109951163930610616.jpg);
}
.indexBannner6 {
    background-image: url(http://p1.music.126.net/SREm6lWfdUI2RvxpoDpAlQ==/109951163930610267.jpg);
}
.indexBannner7 {
    background-image: url(http://p1.music.126.net/bJvl2Ts5-J0vQmtgBxBJrA==/109951163930621538.jpg);
}
.indexBannner8 {
    background-image: url(http://p1.music.126.net/RnNu75UdLkESjWC_paXuXQ==/109951163930624557.jpg);
}

.leftArrow {
    position: absolute;
    z-index: 100;
    left: 30px;
    top: 40%;
    cursor: pointer;
}
.rightArrow {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 40%;
    cursor: pointer; 
}







