.playlist-icon{
    width: 54px;
    height: 24px;
    background: url('../../assets/images/icon.png') no-repeat;
    background-position: 0 -243px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}